<div class="container" id="page" style="align-items: center; height: 100vh">
  <div id="content">
    <div id="inner">
      <div id="heading">
        <div id="container">
          <h1 style="text-align: center"><b>Contact</b></h1>
        </div>
      </div>
      <div class="container"></div>
      <h1 id="tng">Tŝilhqot’in National Government</h1>
      <h2>Language Technology Team</h2>
      <section class="container" id="section">
        <div class="one">
          <div *ngFor="let employee of employees">
            <p>
              <b>{{ employee.name }}</b>
            </p>
            <p>{{ employee.title }}</p>
          </div>
        </div>
        <div class="two">
          <ul class="a">
            <h3>
              Address
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >mail</mat-icon
              >
            </h3>
            <p>79A 3rd Ave N</p>
            <p>Williams Lake, BC V2G 4T4</p>
            <br />
            <h3>
              Phone
              <mat-icon aria-hidden="false" aria-label="Example home icon"
                >settings_phone</mat-icon
              >
            </h3>
            <p>778-412-1112</p>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
