li {
    list-style-type: none;
  }
  
  .content {
      display: inline-block;
  }
  
  ul.p {
    list-style-type: circle;
  }
  
  h1,h2 {
    text-align: center;
    padding-bottom: 20px;
  }

#tng {
    padding-bottom: 0px;
    padding-top: 50px;
}

  h3 {
    color: white;
  }
  

  
  #section {
    width: 100%;
    margin: auto;
    padding: 0px;
  }
  
  .one {
    width: 55%;
    border-right: 1px solid white;
    float: left;
  
  }
  
  .two {
    margin-left: 55%;
   left: 15px;
  }
  
  @media (max-width: 768px) {
    h3 {
      font-size: medium;
    }
  
  }