.sidenav {
  background: rgb(85, 85, 85);
}

a {
  padding-top: 15px;
}

.sidenav-container {
    height: 100%;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .navbar-brand {
    padding: 15px;
  }

  #title {
    font-size: 24px;
    font-weight: normal;
  }