<!-- <app-term [termId]="4"></app-term> -->
<!-- TODO add term component at top to bind to selected term -->
<div *ngIf="selectedEntry">selectedEntry is defined</div>
<div *ngIf="!selectedEntry">No results found.</div>

<div *ngIf="dropboxes">
  <div *ngFor="let dropbox of dropboxes">
    <div *ngIf="dropbox.name">
      {{ dropbox.name }}
      dropbox found
      <app-list-control
        [listVariable]="dropbox"
        (onChange)="handleNewSelection($event)"
      ></app-list-control>
    </div>

    <div *ngIf="!dropbox.name">Unnamed dropbox.</div>
  </div>
</div>

<div *ngIf="checkboxes">
  <div *ngFor="let checkbox of checkboxes">
    <div *ngIf="checkbox.name">
      {{ checkbox.name }}
      checkbox found
      <app-list-control
        [listVariable]="checkbox"
        (onChange)="handleNewSelection($event)"
      ></app-list-control>
    </div>

    <div *ngIf="!checkbox.name">Unnamed checkbox.</div>
  </div>
</div>
