<div *ngIf="selectedTerm?.term">
  <app-term [id]="selectedTerm.term.id"></app-term>
</div>
<div *ngIf="!selectedTerm">No results found.</div>

<div *ngIf="dropboxes">
  <div *ngFor="let dropbox of dropboxes">
    <div *ngIf="dropbox.name">
      {{ dropbox.name }}
      dropbox found
      <!-- <app-list-control
        [listVariable]="dropbox"
        (onChange)="handleNewSelection($event)"
      ></app-list-control> -->
    </div>

    <div *ngIf="!dropbox.name">Unnamed dropbox.</div>
  </div>
</div>
