<!-- TODO bind to an app-term instead -->

<div *ngIf="selectedEntry?.term">
  <app-term [termId]="selectedEntry.term.termId
  <!-- <p>term: {{ selectedEntry.term.term }}</p>
  <p>
    term (English):
    {{ selectedEntry.term.termEnglish }}}
  </p>
  <p>contributor: {{ contributor }}</p>
  <img
    width="200"
    id="play-icon"
    src="https://api.tsilhqotinlanguage.ca/uploads/audio_play_button_pixabay_f799959630.png"
    (click)="playAudio()"
  /> -->
</div>
<div *ngIf="!selectedEntry">No results found.</div>

<div *ngIf="dropboxes">
  <div *ngFor="let dropbox of dropboxes">
    <div *ngIf="dropbox.name">
      {{ dropbox.name }}
      dropbox found
      <app-list-control
        [listVariable]="dropbox"
        (onChange)="handleNewSelection($event)"
      ></app-list-control>
    </div>

    <div *ngIf="!dropbox.name">Unnamed dropbox.</div>
  </div>
</div>

<div *ngIf="checkboxes">
  <div *ngFor="let checkbox of checkboxes">
    <div *ngIf="checkbox.name">
      {{ checkbox.name }}
      checkbox found
      <app-list-control
        [listVariable]="checkbox"
        (onChange)="handleNewSelection($event)"
      ></app-list-control>
    </div>

    <div *ngIf="!checkbox.name">Unnamed checkbox.</div>
  </div>
</div>
