

#front {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    width: fit-content;
    padding-top: 12px;
    border: 1px solid white;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 5px;
    ;
    /* background: rgba(94, 94, 94, 0.342); */
  }


section {
    width: 100%;
    min-height: 100%;
}

.wave {
    position: absolute;
    background: rgb(236,236,236);
    background: linear-gradient(90deg, rgba(236,236,236,1) 0%, rgba(0, 0, 0, 0.656) 0%, rgba(255, 255, 255, 0) 100%);
}

@media (max-width: 1200px) {

    h2 {
      font-size: 16px;
    }

#front {
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
  }
}

