<div id="linkspage" style="align-items: center; height: 100vh">
  <div id="content">
    <div id="inner">
      <div id="heading">
        <div id="container">
          <h1 style="text-align: center"><b>Videos</b></h1>
        </div>
      </div>
      <div *ngIf="mediaList.items">
        <table class="table text-white">
          <thead>
            <tr>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let video of mediaList.items">
              <td [routerLink]="['/videos', video.id]">
                {{ video | mediaItemName | titlecase }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
