.mat-toolbar {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-weight: 80;
  font-size: 20px;
  height: 55px;
  text-align: center;
  box-shadow: 0 -5px 5px -5px #333;
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;

}

.fa-facebook {
  color: white;
}


.fa {
  padding: 20px;
  padding-top: 0px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
}



.fa-twitter {
  background-color: inherit;
}

.fa-youtube {
  background-color: inherit;
}

.fa-github {
  background-color: color;
}

@media screen and (max-width: 1200px) {
  #copyright {
    display: none;
  }
}
