.mat-card {
    text-align: center;
}

.mat-card-title {
    padding: 8px;
}

#center {
    margin: auto;
    width: 40%;
}

@media only screen and (max-width: 800px) {
    #center {
    width: 100%;
    }
  }

  a {
      margin: 0;
      padding: 0;
  }

  .mat-card-actions {
    margin: 0;
    padding: 0;
  }